$myFont: Helvetica, sans-serif;
$myFontSize: 18px;
$myWidth: 680px;
$btn-color: #fff;
$btn-radius: 5px;
$btn-bg: #745a5a;
$pointer : pointer;

body {
  font-family: $myFont;
  font-size: $myFontSize;
}

button {
  color: $btn-color;
  border-radius: $btn-radius;
  background-color: $btn-bg;
  cursor: $pointer;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3px;
    width: max-content;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    font-size: 12;
}

tr:nth-child(even) {
    background-color: #333;
}

th {
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    font-size: 14;
}

main {
  margin-top: 10px;
}